{% block body %}
	<div class="mb-5 mt-5">
		{% if formattedJobs is not empty %}
			{% for formattedJob in formattedJobs %}
				{% set jobViewModel = formattedJob.jobViewModel %}
				{% if jobViewModel.getName() == 'PHP STAN' %}
					<div>
						<p>{% set details = formattedJob.details %}</p>
						{% if details is defined %}
							{% for key, value in details %}

								{% if key == 'Résultats de PHP STAN' %}
									<h3 class="text-center">{{ jobViewModel.getName() }}</h3>
									<div class="{% if loop.first %}resumer{% else %}d-none{% endif %}">
										<div class="d-flex justify-content-between">
											<div class="d-flex job-stat">
												<p>Erreurs :</p>
												<p class="badge bg-danger">{{ value.Erreurs }}
												</p>
											</div>
											<div>
												<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-result-phpStan" aria-expanded="false" aria-controls="collapse-result-phpStan">
													Voir les détails
												</button>
											</div>
										</div>
									</div>

									<div class="collapse" id="collapse-result-phpStan">
										{% for key, result in value %}
											{% if key != 'Erreurs' %}
												<div class="{% if loop.first %}resumer{% else %}d-none{% endif %}">
													<div class="d-flex justify-content-around"></div>
												</div>

												{% for file in result.Fichiers %}
													<div class="card my-3">
														<div class="card-header d-flex align-items-center justify-content-between">
															{% set pathParts = file['Chemin du fichier']|split('/' ~ rapport.tempDir ~ '/') %}
															<p>{{ pathParts[1] }}</p>

															<div class="d-flex justify-content-center align-items-center">
																<span class="badge bg-danger me-2">Erreurs :
																	{{ file.Erreurs }}</span>
																<span class="badge bg-warning text-dark me-2">Avertissements :
																	{{ file.Avertissements }}</span>

																<button type="button" class="btn btn-dark btn-close-white" data-bs-toggle="collapse" data-bs-target="#phpstan-collapse-result-{{ loop.index }}" aria-expanded="false" aria-controls="phpstan-collapse-result-{{ loop.index }}}">
																	Voir les détails
																</button>
															</div>
														</div>

														<div class="collapse" id="phpstan-collapse-result-{{ loop.index }}">
															<div class="card-body">
																<table class="table table-striped">
																	<thead class="thead-dark">
																		<tr>
																			<th scope="col">Ligne</th>
																			<th scope="col">Message</th>
																		</tr>
																	</thead>
																	<tbody>
																		{% for message in file.Messages %}
																			<tr>
																				<td>{{ message.line }}</td>
																				<td>{{ message.message }}</td>
																			</tr>
																		{% endfor %}
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												{% endfor %}
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
						{% else %}
							<p>{{ value }}</p>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<p>Aucun Job disponible pour ce Rapport</p>
		{% endif %}
	</div>
{% endblock %}
