{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <h1 class="text-uppercase">{{  rapport.content }} {{ rapport.id }}</h1>
<p> Le {{ rapport.date ? rapport.date|date('Y-m-d H:i:s') : '' }}</p>

{% if rapport.job is not empty %}
        {% for job in rapport.job %}
            <ul style="list-style-type: none;">
                <h2>Résultat {{ job.name }}</h2>
                {% for detailItem in job.detail %}
                    <li style="list-style-type: none;">
                        {{ detailItem }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
{% else %}
    <p>Aucun job trouvé pour ce rapport.</p>
{% endif %}
{#    {{ include('rapport/_delete_form.html.twig') }}#}
{% endblock %}
