{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <h1>Rapport</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ rapport.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ rapport.date ? rapport.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ rapport.content }}</td>
        </tr>
        </tbody>
    </table>
{% if rapport.job is not empty %}
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Résultat</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        {% for jobs in rapport.job %}
            <tr>
                <td>{{ jobs.name }}</td>
                <td>{{ jobs.resultat ? 'Oui' : 'Non' }}</td>
                <td>   {% for detailItem in jobs.detail %}
                        {{ detailItem }}
                    {% endfor %}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>



{% else %}
    <p>Aucun job trouvé pour ce rapport.</p>
{% endif %}


{#    {{ include('rapport/_delete_form.html.twig') }}#}
{% endblock %}
